@import "./colors";
@import "./header";

@font-face {
    font-family: "Avenir-Next";
    src: url(AvenirNextLTPro-Regular.otf);
}

*, *::before , *::after {
    box-sizing: border-box;
    font-family: "Avenir-Next", sans-serif;
}


body {
    background: rgb(247,234,226); 
    background: radial-gradient(circle at top right, rgba(247,234,226,1) 11%, rgba(255,255,255,1) 100%);
}

.greentxt {
    color: $greencolor;
}

.greenbutton {
    background: rgb(100,124,100);
    background: linear-gradient(90deg, rgba(100,124,100,1) 0%, rgba(100,151,101,1) 61%);
}